table, th, tr{
    border: 1px solid #cfd8dc93;
    border-collapse:collapse; 
    padding: 10px;
    text-align: center;
  }
  button {
    margin: 20px 12px 0 15px;
    font-family: Arial;
    font-size: 130%;
    background-color: rgb(181, 167, 218);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer; cursor: hand;
  }
  
  button:hover {
    background-color: #cfd8dc93;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }