<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Description of Food Item</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p *ngIf="description; else nodescription">{{description}}</p>
        <img src="{{image}}" alt="Image not Available" style="width:inherit ;height: auto;">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
<ng-template #nodescription>
    <p>No Description Available</p>
</ng-template>

<div *ngIf="eatery">
    <h1>{{eatery.name}}'s Menu</h1>
    <form>
        <label>Search: </label>
        <br>
        <input type="text" [(ngModel)]="term" [ngModelOptions]="{standalone: true}" placeholder="Search in {{eatery.name}}" />
    </form>
    <div *ngIf="term">
        <h3> Search Results :</h3>
        <table style="width:100%;">
            <tr>
                <th> Food Category </th>
                <th> Food Name </th>
                <th> Price (Rs)</th>
                <th> Quantity </th>
            </tr>
            <tr *ngFor="let fd of  [eatery] | filter:term " [ngStyle]="{'color':getcolor(fd.food_type)}">
                <ng-container *ngIf="!fd.Msg; else srch">
                    <td> {{fd.typ}} </td>
                    <td (click)="openWindowCustomClass(content,fd.description,fd.img)">
                        <u> {{fd.foodname}}</u>
                    </td>
                    <td> {{fd.price}}</td>
                    <td>
                        <button (click)="minus(fd)">-</button>
                        <input type="number" [(ngModel)]="fd.qty" placeholder="qty" />
                        <button (click)="add(fd)">+</button>
                    </td>
                </ng-container>
                <ng-template #srch>
                    <h4>{{fd.Msg}}</h4>
                </ng-template>
            </tr>
        </table>
    </div>
    <ngb-tabset justify='fill'>
        <ngb-tab *ngFor="let ft of eatery.Menu">
            <ng-template ngbTabTitle>{{ft.Ftype}}</ng-template>
            <ng-template ngbTabContent>
                <table style="width:100%; ">
                    <tr>
                        <th> Food Name </th>
                        <th> Price (Rs)</th>
                        <th> Quantity </th>
                    </tr>
                    <tr *ngFor="let fd of ft.Ftypedet" [ngStyle]="{'color':getcolor(fd.food_type)}">
                        <td (click)="openWindowCustomClass(content,fd.description,fd.img)" style="cursor: pointer;">
                            <u> {{fd.foodname}}</u>
                        </td>
                        <td> {{fd.price}}</td>
                        <td>
                            <button (click)="minus(fd)">-</button>
                            <input type="number" [(ngModel)]="fd.qty" placeholder="qty" />
                            <button (click)="add(fd)">+</button>
                        </td>
                    </tr>
                </table>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
    <button (click)="placeorder()">Place Order</button>
    <button (click)="goBack()">go back</button>
</div>