<h3>Eateries Available</h3>
<form>
  <label>Search: </label>
  <br>
  <input type="text" [(ngModel)]="term" [ngModelOptions]="{standalone: true}" placeholder="Search in {{eatery.name}}" />
</form>
<div *ngIf="term">
  <h3> Search Results :</h3>
  <table style="width:100%;">
    <tr>
      <th> Eatery </th>
      <th> Food Category </th>
      <th> Food Name </th>
      <th> Price (Rs)</th>
      <th> Quantity </th>
    </tr>
    <tr *ngFor="let fd of eateries | filter:term " [ngStyle]="{'color':getcolor(fd.food_type)}">
        <ng-container *ngIf="!fd.Msg; else srch">
            <td> {{fd.etry}} </td>
            <td> {{fd.typ}} </td>
            <td (click)="openWindowCustomClass(content,fd.description,fd.img)">
                <u> {{fd.foodname}}</u>
            </td>
            <td> {{fd.price}}</td>
            <td>
                <button (click)="minus(fd)">-</button>
                <input type="number" [(ngModel)]="fd.qty" placeholder="qty" />
                <button (click)="add(fd)">+</button>
            </td>
        </ng-container>
        <ng-template #srch>
            <h4>{{fd.Msg}}</h4>
        </ng-template>
    </tr>
  </table>
</div>
<div class="grid grid-pad">
  <a *ngFor="let eatery of eateries" class="col-1-4" routerLink="/detail/{{eatery.Eid}}">
    <div class="module">
      <h4>{{eatery.name}}</h4>
    </div>
  </a>
</div>